.container__projetos {
    width: 83%;
    height: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.projetos {
    width: 26vw;
    height: 60vh;
    margin: 2em;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 5px 5px var(--cor-one);
    margin: 0 auto;
    margin-top: 0.8em;
}

img {
    width: 100%;
    height: 52%;
    border-radius: 10px;
}

.projetos__titulo {
    padding: 0.5em 0;

}

.ContainerBtns {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

button {
    cursor: pointer;
    padding: 1em 2em;
    width: 50%;
    background: none;
    outline: 0;
    border: none;
    box-shadow: 0 0 2px 2px var(--cor-two);
    color: var(--cor-two);
    font-size: 16px;
    font-family: 'Poppins';
    padding: 0.4em 0.4em 0.4em 0.4em;
    margin-top: 0.5em;
}

button:hover {
    background-color: var(--cor-one);
    color: var(--cor-de-fundo);
    box-shadow:  0 0 0.2em 0.2em var(--cor-one);
    font-weight: 500;
}

.ancoras {
    width: 50%;
    text-decoration: none;
    box-shadow: 0 0 2px 2px var(--cor-two);
    padding: 0.5em 0.5em 0.8em 0.5em;
    color: var(--cor-two);
}

.ancoras:hover{
    background-color: var(--cor-one);
    color: var(--cor-de-fundo);
    box-shadow:  0 0 0.2em 0.2em var(--cor-one);
}

@media screen and (max-width: 768px) {
    .container__projetos {
        flex-direction: column;
        
    }

    .projetos {
        width: 100%;
        margin-top: 2em;
    }
    .ContainerBtns {
        gap: 7px;
    }

    .projetos__titulo {
        padding: 0;
        
    }

}

@media (min-width: 769px) and (max-width: 1024px) {
   

    .projetos {
        width: 45%; /* Mantém 2 projetos por linha */
        margin: 1em; /* Ajusta as margens */
        height: 50vh; /* Ajusta a altura para telas menores */
    }
}