.container__projetos {
    width: 83%;
    height: 80%;
    /* border:3px solid white; */
    /* box-shadow: 0 0 5px 5px var(--cor-two); */
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.projetos {
    width: 26vw;
    height: 60vh;
    /* border:3px solid white; */
    margin: 2em;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 5px 5px var(--cor-one);
    margin: 0 auto;
    margin-top: 0.8em;
}

img {
    width: 100%;
    height: 52%;
    border-radius: 10px;
}

.ContainerBtns {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

button {
    cursor: pointer;
    padding: 1em 2em;
    width: 50%;
    background: none;
    outline: 0;
    border: none;
    box-shadow: 0 0 2px 2px var(--cor-two);
    color: var(--cor-two);
    font-size: 16px;
    font-family: 'Poppins';
    padding: 0.5em 0.5em 0.8em 0.5em;
}

.ancoras {
    width: 50%;
    text-decoration: none;
    /* border: 1px solid var(--cor-two); */
    box-shadow: 0 0 2px 2px var(--cor-two);
    padding: 0.5em 0.5em 0.8em 0.5em;
    color: var(--cor-two);
}

@media screen and (max-width: 390px) {
    .container__projetos {
        flex-direction: column;
    }

    .projetos {
        width: 100%;
        margin-top: 2em;
    }
}