.skill_titulo {
    margin-top: 2.5em;
    text-align: center;
}

.tech__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 2em;
    width: 98%;
    gap: 50px;
    
    
}

.icons__img {
    height: 10%;
    width: 10%;
}

.icons__img-net {
    height: 10%;
    width: 10%;
}

@media screen and (max-width: 768px) {

    .skill_titulo {
        font-size: 20px;
        margin: 1.5em 0.5em;
    }
    .tech__container {
        gap: 27px;   
    }
    
}