.header {
    display: flex;
    justify-content: space-between;
    padding: 2em 4em;
}

.navegacao{
    text-decoration: none;
    color: var(--cor-do-texto);
    font-weight: 700;
    font-size: 19px;
    
}

.home {
    padding: 0.4em 0.9em;
    border-radius: 10px;
    text-decoration: none;
    color: var(--cor-do-texto);
    font-weight: 700;
    font-size: 19px;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 768px) {

    .header {
        display: flex;
        padding: 1em 2em;
        border-bottom: 1px solid var(--cor-do-texto);
        overflow: hidden;
    }
    .navegacao {
        position: absolute;
        top: 53px;
        right: 100%;
        background-color: var(--cor-de-fundo);
        height: 230px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:flex-start;
        padding-top: 2rem;
        width: 250px;
        transition: left 0.3s ease-in-out;
        border-radius: 10px 0 0 10px;
    }
    
    .navegacao.open {
        right: 0;
    }

    .menu-icon {
       display: flex;
       align-items: center;
       font-size: 1.2em;
    }

    body {
        overflow-x: hidden;
    }
}              

