.header {
    display: flex;
    justify-content: space-between;
    padding: 2em 4em;
    /* border-bottom: 1px solid var(--cor-do-texto); */
}

.navegacao{
    text-decoration: none;
    color: var(--cor-do-texto);
    font-weight: 700;
    font-size: 19px;
    
}

.home {
    /* border: 1px solid var(--cor-do-texto); */
    padding: 0.4em 0.9em;
    border-radius: 10px;
    text-decoration: none;
    color: var(--cor-do-texto);
    font-weight: 700;
    font-size: 19px;
}

@media screen and (max-width: 390px) {

    .header {
        display: flex;
        padding: 1em 2em;
        /* justify-content: space-between; */
        /* align-items: center; */
        border-bottom: 1px solid var(--cor-do-texto);
    }
    .navegacao {
        position: absolute;
        top: 50px;
        right: 0px;
        background-color: #333;
        /* height: 100vh; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:flex-start;
        padding-top: 2rem;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }
    
    .navegacao.open {
        transform: translateX(0);
    }

    .menu-icon {
       display: flex;
       /* justify-content: center; */
       align-items: center;
       font-size: 1.2em;
      }
}              

