:root {
  --cor-de-fundo: #2E073F;
  --cor-do-texto: #EBD3F8;
  --cor-one: #7a1cacbd;
  --cor-two: #ac49e1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-de-fundo);
  font-family: 'Poppins', sans-serif;
  color: var(--cor-do-texto);
}
